.timer-container
{
    display: grid;
    margin-left: -10em;
    position: fixed;
    top: 50%;
    left: 50%;
    grid-template-columns: 36.5%;
}

.btn-container
{
    display: flex; 
}

.timer
{
    font-size: 5em;
    text-align: center;
    color: lightslategray;
    border: 0px none;
    width: 100%;
}

.btn
{
    width: 50%;
    margin: 1px;
}